127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6 

172.16.188.1  dev-dell7510.pupupon.com
172.16.188.2  dev-oracledb-01.pupupon.com
172.16.188.3  dev-centos7-01.pupupon.com